<main class="main-container">
    <h1>Productos</h1>
    <ul class="p-0" id="products-container">
        {{#each products}}
            <li id={{this._id}}>
                <div>Título: {{this.title}}</div>
                <div>Descripción: {{this.description}}</div>
                <div>Código: {{this.code}}</div>
                <div>Precio: {{this.price}}</div>
                <div>Stock: {{this.stock}}</div>
                <div>Categorías: {{this.categories}}</div>
                {{#if this.status}}
                    <div>Estado: Activo</div>
                {{else}}
                    <div>Estado: Inactivo</div>
                {{/if}}

                <hr />
            </li>
        {{/each}}
    </ul>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/realTimeProducts.js"></script>